@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Outfit", sans-serif;
}

.main-section{
    display: flex;
}

.left-side{
    width: 25%;
    min-height: 100vh;
}

.right-side{
    width: 75%;
}

header{
    display: flex;
    justify-content: end;
    margin-bottom: -94px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 24px 32px;
    box-shadow: 0px 14px 88px 0px rgba(0,0,0,0.1);
}

.nav-my-loc{
    font-size: 14px;
    color: #939395;
    font-weight: 200;
}



nav ul li p{
    padding: 2px 0;
    font-family: "Outfit", sans-serif;
}

.nav-left-side{
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-map-icon{
    height: 42px;
    width: 42px;
    background-color: #F8FAFC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
}

.nav-map-icon i{
    color: #1977F1;
}

.nav-loc-name h2{
    font-size: 18px;
}

.nav-loc-name p{
    font-size: 13px;
    font-weight: 300;
}

.nav-right-side{
    display: flex;
    align-items: center;
    gap: 26px;
}

.nav-username{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.nav-username h2{
    font-size: 15px;
    font-weight: 500;
}

.nav-username p{
    font-size: 11px;
    font-weight: 400;
    color: #A4A2AF;
}

.nav-user-image{
    height: 37px;
    width: 37px;
    border-radius: 50px;
    object-fit: cover;
}

.toggle-display{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

label{
    width: 80px;
    height: 46px;
    border-radius: 999px;
    background: #F3F3F3;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.05) inset;
    cursor: pointer;
    position: relative;
}

.svg-wrap{
    width: 36px;
    height: 34px;
    border-radius: 99px;
    background: white;
    top: 50%;
    left: 4%;
    position: absolute;
    transform: translate(10%, -50%);
    box-shadow:  -34px -34px 67px #bebebe,
             34px 34px 67px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    width: 24px;
    position: absolute;
}

.sun{
    color: #FFD600;
    margin-top: 0;
}

.sidebar{
    padding: 30px 0;
    box-shadow: 0px 14px 88px 0px rgba(0,0,0,0.1);
    width: 100%;
    min-height: 100%;
}

.search-bar{
    width: 281px;
    height: 43px;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #F9FAFC;
    border-radius: 61px;
    border: 1px solid #E2E2E4;
    margin-left: auto;
    margin-right: auto;
}

.search-icon{
    color: #7387A3;
}

.search-input{
    transition: 0.5s;
}

.search-input .input{
    border: none;
    outline: none;
    background-color: unset;
    padding: 12px;
    font-size: 13px;
    font-weight: 200;
    color: #7387A3;
}

.sidebar-weather-top{
    padding-top: 26px;
    margin: 0 18%;
}

.sidebar-weather-top img{
    height: 100%;
    width: 100%;
}

.sidebar-weather-top p{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 55px;
    font-weight: 600;
}

.line{
    padding: 5px;
    margin: 4% auto;
    border-top: 0.1px solid #8e8e8e77;
    width: 80%;
}

.sidebar-date{
    margin: 0 12%;
}

.sidebar-date p{
    font-size: 15px;
    font-weight: 200;
    color: #939395;
}

.sidebar-date .sidebar-day{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 28px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.sidebar-date .sidebar-day h2{
    font-size: 24px;
}

.sidebar-date .sidebar-day p{
    font-size: 24px;
    font-weight: 200;
}

.sidebar-date .sidebar-day{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 28px;
    padding: 10px 0;
    margin-bottom: 30px;
}

.sidebar-detail-weather{
    margin: 0 12% 6% 12%;
}

.sidebar-detail-weather p{
    font-size: 15px;
    font-weight: 200;
    color: #939395;
}

.weather-status{
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: #E7EFFD;
    padding: 14px;
    border-radius: 10px;
    margin-top: 16px;

}

.weather-status i{
    color: rgb(24,118,240);
    
}

.weather-status p{
    font-size: 15px;
    font-weight: 400;
    color: #343434;
}

.main{
    padding-top: 96px; 
    padding-left: 0;
}

.row1{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-bottom: -40px;
}

.other-city{
    background: white;
    margin: 4%;
    box-shadow: 0px 14px 88px 0px rgba(0,0,0,0.1);
    padding: 5%;
    border-radius: 20px;
}

.city-row1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.change-city-button{
    display: flex;
    gap: 10px;
}

.change-city-button .arrowUp{
    font-size: 12px;
    color: black;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    padding: 30%;
}

.change-city-button .arrowDown{
    font-size: 12px;
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    padding: 30%;
}

.city-display{
    display: flex;
    align-items: center;
    gap: 38px;
    padding: 20px 0;
}

.city-display p{
    font-weight: 300;
}

.city-wind{
    display: flex;
    align-items: center;
    gap: 5px;
}

.city-wind p{
    font-size: 15px;
    font-weight: 200;
    color: #939395;
}

.city-wind i{
    font-size: 10px;
    color: #939395;
}

.report-weather{
    display: flex;
    flex-direction: column;
    background: #1977F1;
    margin: 5%;
    box-shadow: 0px 14px 88px 0px rgba(0,0,0,0.1);
    padding: 5%;
    border-radius: 20px;
}

.report-row1{
    display: flex;
    align-items: center;
    padding: 5%;
    gap: 14px;
}

.report-row1 p{
    color: white;
    font-weight: 300;
    font-size: 22px;
}

.report-row2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
}

.report-row2 p{
    color: white;
    font-weight: 200;
    font-size: 18px;
}

.report-weather a{
    display: flex;
    justify-content: center;
    padding: 5%;
    margin: 5% 5% 0% 5%;
    text-decoration: none;
    background-color: white;
    border-radius: 32px;
    color: #1977F1;
    font-weight: 600;
}

.weather-week-container {
    margin-top: -44px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    padding: 47px 0;
}

.weather-today, .weather-past {
    flex: 0 0 auto;
    margin: 1% 1% 2% 0;
}

.weather-week{
    display: flex;
    align-items: center;
}

.weather-week-title{
    padding: 4% 3% 1% 2%;
}

.weather-week-title h2{
    font-size: 24px;
    font-weight: 600;

}

.weather-today{
    height: 202px;
    width: 355px;
    margin: 1% 0 2% 2%;
    background-color: white;
    box-shadow: 0px 14px 88px 0px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 2%;
}

.weather-today-side{
    display: flex;
    align-items: center;
    gap: 42px;
    margin-top: 14px;
    margin-left: 10px;
}

.weather-today-status{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.weather-today-status p{
    font-weight: 300;
    color: #939395;
}

.weather-today-status i{
    font-size: 12px;
    color: #1977F1;
}

.today-humidity{
    display: flex;
    align-items: center;
    gap: 10px;
}

.today-wind{
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather-past{
    height: 202px;
    width: 182px;
    margin: 1% 0 2% 2%;
    background-color: white;
    box-shadow: 0px 14px 88px 0px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 2%;
}

.weather-past-side{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}

.weather-image-past{
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-past-status{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.weather-past-status h2{
    font-size: 20px;
}

.weather-past-status p{
    font-size: 20px;
    font-weight: 200;
}

.blank{
    height: 202px;
    width: 20px;
    margin: 1% 0 2% 2%;
    padding: 1%;
}

.splide__arrow {
    margin: 50px 200px;
    font-size: 19px;
}

.splide__arrow--prev {
    background: white !important;
    border: 1px solid black !important;
}

.splide__arrow--next {
    padding: 10px;
    background: black !important;
    border: 1px solid white !important;
    color: white !important;
}

.splide__arrow--next svg {
    fill: white !important;
}

/* Col Span */
.col-span-6{
    grid-column: span 6 / span 6;
}

.col-span-5{
    grid-column: span 5 / span 5;
}

@media only screen and (max-width: 600px) {
    line{
        width: 260px;
    }
  }
